# Xcode
.DS_Store
*.swp
*.lock
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xg

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Debug logs
models.json
*_response.json
clean_project.sh
