<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.octanelog.app</string>
	<key>CFBundleName</key>
	<string>OctaneLog</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>OctaneLog uses your location to adjust video capture frequency based on your speed.</string>
    <key>NSCameraUsageDescription</key>
    <string>OctaneLog uses the camera to capture video for autonomous road analysis.</string>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
