<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>OctaneLog uses the camera to record your drive for AI analysis.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>OctaneLog uses the microphone to record audio during your drives.</string>
</dict>
</plist>
